$photo-list-width: 340px;

.photo-list-outer {
  position: fixed;
  flex-flow: column nowrap;
  top: $header-height;
  display: flex;
  width: $photo-list-width;
  border-left: 1px solid $app-color;
  background: white;
  transition: right 0.4s ease;
}

.photo-list-show {
  right: 0;
}

.photo-list-hidden {
  right: -$photo-list-width;
}

.photo-list-outer .title {
  background: $app-color;
  height: $panel-area-title-height;
  line-height: $panel-area-title-height;
  font-size: 25px;
  padding-left: 0.5em;
  color: white;
  width: 100%;
  box-sizing: border-box;
}

.photo-list {
  /*height は js で定義した*/
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;

  .photo-list-item-wrapper {
    position: relative;
  }
  .photo-list-item-info {
    position: absolute;
    top: 1em;
    left: 1em;
    color: white;
  }
  .photo-list-item {
    cursor: pointer;
    animation: fadeIn 0.5s ease 0s 1 normal;
  }
}

.photo-zoom-outer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(black, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 80;
}
.photo-zoom {
  max-width: 90%;
  max-height: 95%;
  display: block;
  box-shadow: 8px 8px 15px 1px #666;
  cursor: pointer;
  position: relative;
  &-img {
    width: 100%;
    height: 100%;
  }
  &-share-button {
    position: absolute;
    top: 1em;
    left: 2em;
    font-size: 2em;
    .ap-button {
      background: rgba(white, 0.6);
    }
  }
  &-message {
    position: absolute;
    font-size: 1.3em;
    top: 1em;
    right: 1em;
    color: white;
  }
  &-circle {
    position: absolute;
    border-radius: 50%;
    border: 14px solid red;
  }
}

.photo-list-toggle {
  position: absolute;
  top: 2px;
  right: $photo-list-width;
  width: 50px;
  height: 50px;
  background-color: rgba($app-color, 0.6);
  color: white;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  .expand {
    position: absolute;
    width: 100px;
    height: 100px;
    top: -25px;
    left: -25px;
    user-select: none;
  }
}
