.head-mount-outer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-mount {
  width: 800px;
  h2 {
    color: $app-color;
  }
  .block {
    margin-top: 2em;
    .location {
      margin-top: 0.5em;
      font-size: 1.5em;
    }
  }
}