.modal-window-background {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 90;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-window-background-nobg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 110;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm-close-report {
  width: 500px;
  min-height: 180px;
  box-shadow: 8px 8px 15px 1px #666;
  background: #fff;
  border-radius: 1%;
  text-align: center;
  color: #666;
  font-size: 2em;
  z-index: 120;
  .message {
    margin: 30px;
  }
  .buttons {
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: auto;
    margin-bottom: 10px;
  }
}

.modal-centerconf {
  width: 500px;
  min-height: 180px;
  box-shadow: 8px 8px 15px 1px #666;
  background: #fff;
  border-radius: 1%;
  padding: 20px;
  text-align: center;
  color: #666;
  z-index: 120;
  font-size: 1.2em;
  .item {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .buttons {
    display: flex;
    justify-content: space-around;
    width: 350px;
    margin: auto;
    margin-bottom: 10px;
  }
}

.red {
  color: red;
}
